* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Lato", sans-serif;
    line-height: 1;
}

a {
    user-select: none;
    text-decoration: none;
    color: #ababab;
}

body {
    font-weight: 400;
    line-height: 30px;
    background-color: #0c0f15;
    overflow-x: hidden;
    color: #ababab;
}

.container {
    display: flex;
}

.sidebar-navigation {
    display: inline-block;
    min-height: 100vh;
    width: 80px;
    background-color: #313443;
}

.sidebar-navigation ul {
    text-align: center;
    color: white;
}

.sidebar-navigation ul li {
    padding: 28px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
}

.sidebar-navigation ul li i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #313443;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 90px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.sidebar-navigation ul li .tooltip:before {
    content: "";
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}

.sidebar-navigation ul li:hover {
    background-color: #22252e;
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li.active {
    background-color: #22252e;
}

.sidebar-navigation ul li.active i {
    color: #98d7ec;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25em;
    margin: 4em auto;
}

.content > p {
    font-size: 2em;
    margin-bottom: 1em;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.04rem;
    border: 1px solid #eceeef;
    border-top: none;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}

.table tbody+tbody {
    border-top: 2px solid #eceeef;
}

.table .table {
    background-color: #fff;
}

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.table-bordered {
    border: 1px solid #eceeef;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #eceeef;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active>th,
.table-active>td {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success>th,
.table-success>td {
    background-color: #dff0d8;
}

.table-hover .table-success:hover {
    background-color: #d0e9c6;
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
    background-color: #d0e9c6;
}

.table-info,
.table-info>th,
.table-info>td {
    background-color: #d9edf7;
}

.table-hover .table-info:hover {
    background-color: #c4e3f3;
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
    background-color: #c4e3f3;
}

.table-warning,
.table-warning>th,
.table-warning>td {
    background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
    background-color: #faf2cc;
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
    background-color: #faf2cc;
}

.table-danger,
.table-danger>th,
.table-danger>td {
    background-color: #f2dede;
}

.table-hover .table-danger:hover {
    background-color: #ebcccc;
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
    background-color: #ebcccc;
}

.thead-inverse th {
    color: #fff;
    background-color: #292b2c;
}

.thead-default th {
    color: #464a4c;
    background-color: #eceeef;
}

.table-inverse {
    color: #fff;
    background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
    border-color: #fff;
}

.table-inverse.table-bordered {
    border: 0;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
    border: 0;
}

.tr-dark {
    color: white;
    font-weight: bold;
}

td:not(:last-child):not(.total td:not(:nth-of-type(3))) {
    border-right: 1px solid #eceeef;
}
td:last-child:not(.tr-dark td:last-child) {
    text-align: right;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 1em;
    padding: 0 0 .4em .3em;
    margin: 1em 0 0 0;
}

#insertProduct {
    display: flex;
    flex-direction: column;
}
#addProduct {
    border: 1px solid rgb(51, 109, 190);
    padding: .7em 0;
    cursor: pointer;
    background-color: rgb(51, 109, 190);
    transition: .2s ease;
}
#addProduct:hover {
    border: 1px solid rgb(33, 70, 123);
    background-color: rgb(33, 70, 123);
}


#title {
    text-align: center;
}

.checkout {
    text-align: center;
    display: block;
    width: auto;
    color: white;
    border: 1px solid green;
    padding: .7em 2em;
    cursor: pointer;
    background-color: green;
    transition: .2s ease;
}
.checkout:hover {
    border: 1px solid rgb(0, 78, 0);
    background-color: rgb(0, 78, 0);
}