<div class="all">
    <!-- Add To Cart -->
    <div id="insertProduct">
        <label for="exampleDataList" class="form-label">Select Product</label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..."
            #selectedProduct required>
        <datalist id="datalistOptions">
            <option *ngFor="let product of products; let i = index" value="{{product.name}}"></option>
        </datalist>
        <input type="text" placeholder="Amount" #amount required />
        <input type="button" value="Add To Cart" (click)="addToCart(selectedProduct, amount)" id="addProduct">
    </div>
    <br /><br /><br /><br />

    <!-- Show Cart -->
    <p>Cart</p>
    <br />
    <table cellspacing="0" class="table">
        <thead>
            <tr class="tr-dark">
                <td>Product</td>
                <td>Cost</td>
                <td>Amount</td>
                <td>Total</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of cart">
                <td>{{product.name}}</td>
                <td class="tdNumber">{{product.cost}}€</td>
                <td>{{product.amount}}</td>
                <td class="tdNumber">{{product.total}}€</td>
                <td class="tdTrash"><i class="fa fa-trash" (click)="removeItemCart(product.name)"></i></td>
            </tr>
            <tr class="total">
                <td></td>
                <td></td>
                <td></td>
                <td class="tdNumber">{{getTotalCart()}}€</td>
                <td class="tdTrash"><i class="fa-solid fa-circle-xmark" *ngIf="cart.length>0" (click)="removeAllCart()"></i></td>
            </tr>
        </tbody>
    </table>
    <a class="checkout">Buy Now</a>
</div>