<div class="all">
    <!-- Show Product -->
    <p>Show Product</p>
    <br />
    <table cellspacing="0" class="table tableShow">
        <thead>
            <tr class="tr-dark">
                <td>Name</td>
                <td>Cost</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{name}}</td>
                <td class="tdNumber">{{cost}}€</td>
            </tr>
        </tbody>
    </table>
    <a routerLink="/products" class="goBack">Go Back</a>
</div>